# -------------------------
# Tasks :: clean
# -------------------------

[tasks.clean_env]
description = "Clean up old packages and caches"
depends = ["clean_brew", "clean_mise"]

[tasks.clean_brew]
description = "Cleanup Homebrew cache and old versions"
run = ["brew cleanup -s"]

[tasks.clean_mise]
description = "Mise prune"
run = ["mise prune"]

# [tasks.clean_zinit]
# description = "Clean zinit cache"
# run = '''
# #!/usr/bin/env zsh
# # Source zinit explicitly so the function exists in this non-interactive shell
# ZINIT_HOME="${ZINIT_HOME:-$HOME/.local/share/zinit}"
# source "$ZINIT_HOME/zinit.git/zinit.zsh"
#
# zinit delete --clean
# '''
